.HeaderLink {
    color: #ffffff;
    text-decoration: none;
}

.HeaderLink:hover {
    color: #ffffff;
    text-decoration: none;
}

.Header {
    padding: 2vh 5vh 2vh 3vh;
    max-width: 100vw;
    height: 25vh;
    /* max-height: 25vh;     */
    justify-content: flex-end;
    align-items: center;
    font-size: 16pt;
    background: #002a3bee;
    position: fixed;
    width: 100vw;
    top: 0;
    border-bottom: 1px dashed skyblue;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 999;
}

.HeaderItem {
    text-decoration: none;
    color: #ffffff; 
    font-weight: 400;
    padding: 0vh 5vh 0vh 5vh;
    /* background: coral; */
}