.HeaderLink {
    color: #ffffff;
    text-decoration: none;
}

.HeaderLink:hover {
    color: #ffffff;
    text-decoration: none;
}

.Header {
    padding: 5vh 5vh 5vh 3vh;
    max-width: 100vw;
    /* max-height: 20vh;     */
    justify-content: flex-end;
    align-items: center;
    font-size: 16pt;
    background: #002A3B80;
    border-bottom: 1px dashed skyblue;
    position: fixed;
    width: 100vw;
    top: 0px;
    z-index: 999;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.HeaderItem {
    text-decoration: none;
    color: #ffffff; 
    font-weight: 400;
    padding: 0vh 10vh 0vh 5vh;
    /* background: coral; */
}