@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

.App {
	max-width: 100vw;
	font-family: "Karla";
	background: #002A3B;
}

.SectionHeader {
	padding: 5vh;
	color: sandybrown;
	letter-spacing: -0.20rem;
	font-size: 36pt;
}

#workEx {
	text-align: left;
}

#projects {
	text-align: right;
}